<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style>
.large_sans_serif {
  font: large serif;
}
</style>
</head>
<body>
<div>
<table style="height: 265px; width: 678px;">
<tbody>
<tr style="height: 174px;">
<td style="width: 200px; height: 174px;">&nbsp;&nbsp; &nbsp; <img src="logo_moulin_a_son.jpg" width="155" height="182" /></td>
<td style="width: 169.367px; height: 174px;">&nbsp;</td>
<td style="width: 270.633px; height: 174px;"><img src="Bilan_pratique_collective.png" width="300" height="100" />&nbsp;</td>
<td style="width: 10px; height: 174px;">&nbsp;</td>
</tr>
<tr style="height: 18.1px;">
<td style="width: 200px; height: 18.1px;">&nbsp;<img src="adresse.png" width="187" height="56" /></td>
<td style="width: 169.367px; height: 18.1px;">&nbsp;</td>
<td style="width: 270.633px; height: 18.1px;">
<h3 style="text-align: center;">&nbsp;Ann&eacute;e scolaire :</h3>
<p style="text-align: center;">&nbsp;{{ school_year }}</p>
</td>
<td style="width: 10px; height: 18.1px;">&nbsp;</td>
</tr>
</tbody>
</table>
</div>
<div><hr /></div>
<div>
<h2><strong>Nom :</strong> {{ last_name }}<strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; Prenom : {{ first_name }}</span></span><br /></strong></h2>
</div>
<div><hr /></div>
<h4>Nom du collectif : {{ collectif_name }}</h4>
<h4>Cycle&nbsp;: {{ cycle }}</h4>
<h4>Ann&eacute;e&nbsp;:&nbsp;{{ year }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; Date du bilan&nbsp;:&nbsp;{{ report_date }}&nbsp;</h4>
<h4>Professeur&nbsp;: {{ professor }}</h4>
<div><hr /></div>
<div>
<pre class="large_sans_serif">{{ report }}</pre>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div><hr /></div>
<div>
<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Signature de la Directrice&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; Signature des parents :</h4>
</div>
<div>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; <img src="signature.jpg" alt="teeeeeeeeeeeeest" width="137" height="137" /></p>
</div>
