<script lang="ts">
import axios from 'axios'
import { ref, onMounted } from 'vue'
import { defineComponent, computed } from 'vue';
import { useStore } from 'vuex';

const count = ref(0)

interface Competence {
  Id: number;
  Nom: string;
  Pratique: string;
  Rubrique: string;
  selected: boolean;
  selectedChoice: number;
}

export default defineComponent({
    name: 'DetailsPage',
    setup() {
        const store = useStore();
        const detailsData = computed(() => store.state.detailsData);

        const rythmeCompetences: Competence[] = [];
        const voixCompetences: Competence[] = [];

        // Make sure detailsData.value is not undefined before accessing its properties
        if (detailsData.value[0]) {
            // Iterate through detailsData[0].Competences and filter competences with "Rubrique" set to "Rythme"
            detailsData.value[0].Competences.forEach((competenceGroup) => {
                competenceGroup.forEach((competence) => {
                    if (competence.Rubrique === "Rythme") {
                        rythmeCompetences.push({
                            ...competence,
                            selected: false,
                            selectedChoice: 0,
                        });
                    }
                    if (competence.Rubrique === "Voix") {
                        voixCompetences.push({
                            ...competence,
                            selected: false,
                            selectedChoice: 0,
  });
                    }
                });
            });
        }

        console.log("detailsData : ", detailsData); // This will log the unwrapped object
        console.log("rythmeCompetences : ", rythmeCompetences); // This will log the unwrapped object

        return { detailsData, rythmeCompetences };
    },
    data() {
        return {
            nomProfsBilanProjet: "",
            textbox_bilan_projet: "",

            nomProfsBilanAnnuel: "",
            dateBilanAnnuel: "",
            textbox_bilan_annuel: "",

            choices: [...Array(5).keys()].map((i) => i + 1),
            rythmeCompetences: [] as Competence[],
            voixCompetences: [] as Competence[],
        };
    },
    methods: {
        validate_bilan_projet() {
            console.log("entering validate_bilan_projet function");
            const data = {
                nomProfsBilanProjet: this.nomProfsBilanProjet,
                textbox_bilan_projet: this.textbox_bilan_projet,
            };
            console.log("data to be sent to the server :");
            console.log(data);

            axios
                .post('https://91.165.212.209:49152/', data) // à compléter
                .then((response) => {
                    console.log(response.data);
                    // Handle the response from the server
                })
            .catch((error) => {
                console.error(error);
                // Handle the error
            });
        },
        validate_bilan_annuel() {
            console.log("entering validate function");
            const data = {
                nomProfsBilanAnnuel: this.nomProfsBilanAnnuel,
                dateBilanAnnuel: this.dateBilanAnnuel,
                textbox_bilan_annuel: this.textbox_bilan_annuel,
            };
            console.log("data to be sent to the server :");
            console.log(data);

            axios
                .post('https://91.165.212.209:49152/', data) // à compléter
                .then((response) => {
                    console.log(response.data);
                    // Handle the response from the server
                })
            .catch((error) => {
                console.error(error);
                // Handle the error
            });
        },
    },
    /* Fonction pour aller cherches les compétences. Pas encore finie. */
    /* async fetchData() {
        try {
            const response = await axios.get('http://91.165.212.209:8080/');
            this.dataList = response.data;
        } catch (error) {
            console.error(error);
        }
    }, */
});
</script>

<template>

    <div class="container-fluid">
        <p></p>
        <div class="row">
            <div v-if="detailsData[0]" class="col-sm">
                <h1>Détails Élève</h1>
                <p>ID : {{ detailsData[0]?.Id }}</p>
                <p>Nom : {{ detailsData[0]?.Nom }}</p>
                <p>Prénom : {{ detailsData[0]?.Prenom }}</p>
                <p>Groupe : {{ detailsData[0]?.Groupe }}</p>
                <p>Année scolaire : {{ detailsData[0]?.["Annee Cycle"] ? (detailsData[0]?.["Annee Cycle"]) : "N/A" }}</p>
                <p>Instrument : {{ detailsData[0]?.["Instrument"] ? (detailsData[0]?.["Instrument"]) : "N/A" }}</p>
                <p>Cycle : {{ (detailsData[0]?.["Nom Cycle"]) }}</p>
                <p>Est visible : {{ detailsData[0]?.["Est Visible"] }}</p>
            </div>
            <div v-else class="col-sm">
                <h1>Loading</h1>
            </div>
            <div v-if="detailsData[0]" class="col-sm">
                <h1>Compétences</h1>
                <h3>Rythme</h3>
                <div>
                    <ul>
                        <li v-for="competence in rythmeCompetences " :key="competence['Id Competence']">
                            <p></p>
                            <div class="inline-container">
                                <span class="inline-item">{{ competence["Nom"] }}</span>
                                <input
                                        type="checkbox"
                                        :id="'checkbox' + competence['Id Competence']"
                                        v-model="competence.selected"
                                        class="checkbox-inline"
                                        />
                                <div class="radio-inline-container">
                                    <label
                                            v-for="choice in choices"
                                            :key="choice"
                                            :for="'radio' + competence['Id Competence'] + choice"
                                            class="radio-inline"
                                            >
                                            <input
                                                    type="radio"
                                                    :id="'radio' + competence['Id Competence'] + choice"
                                                    :value="choice"
                                                    v-model="competence.selectedChoice"
                                                    :name="'competence' + competence['Id Competence']"
                                                    />
                                            <span>{{ choice }}</span>
                                    </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <h3>Voix</h3>
            </div>
            <div v-else class="col-sm">
                <h1>Loading</h1>
            </div>
            <div class="col-sm">
                <h1>Bilan Projet</h1>
                <p>‎ ‎</p> <!-- Pour aligner les deux texts box. J'suis pas dev frontend. -->
                <select name="projets" id="projets">
                    <option value="volvo">Volvo</option>
                    <option value="saabaaaaaaaaaaaaa">Saabaaaaaaaaaaaaa</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select> 
                <p></p>
                <div class="form-group">
                    <label for="nomProfsBilanProjet">Nom des professeurs</label>
                    <input type="text" v-model="nomProfsBilanProjet" class="form-control" id="nomProfsBilanProjet"
                        placeholder="Noms professeurs">
                    <p></p>
                </div>
                <div class="container">
                    <textarea v-model="textbox_bilan_projet" class="full-size-textarea" id="textbox_bilan_projet" name="textbox_bilan_projet" placeholder="Rentrez le bilan projet ici."></textarea> 
                </div>
                <p></p>
                <button @click="validate_bilan_projet" class="btn btn-primary">Valider Bilan Projet</button>
            </div>
            <div class="col-sm">
                <h1>Bilan Annuel</h1>
                <div class="form-group">
                    <label for="nomProfsBilanAnnuel">Nom des professeurs</label>
                    <input type="text" v-model="nomProfsBilanAnnuel" class="form-control" id="nomProfsBilanAnnuel"
                        placeholder="Noms professeurs">
                    <p></p>
                    <label for="dateBilanAnnuel">Date du bilan annuel</label>
                    <input type="text" v-model="dateBilanAnnuel" class="form-control" id="dateBilanAnnuel"
                        placeholder="Date">
                    <p></p>
                </div>
                <div class="container">
                    <textarea v-model="textbox_bilan_annuel" class="full-size-textarea" id="textbox_bilan_annuel" name="textbox_bilan_annuel" placeholder="Rentrez le bilan annuel ici."></textarea> 
                </div>
                <p></p>
                <button @click="validate_bilan_annuel" class="btn btn-primary">Valider Bilan Annuel</button>
            </div>
        </div>
    </div>

</template>

<style scoped>
.container {
  /* Set the container size as needed */
  width: 100%;
  height: 300px;
  position: relative; /* This is required for absolutely positioning the textarea */
}

.full-size-textarea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  resize: none; /* Disable resizing if needed */
}

.inline-container {
  display: flex;
  align-items: center;
}

.inline-item {
  margin-right: 10px;
}

.radio-inline-container {
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.radio-inline {
  margin-right: 10px;
}
</style>
