<script lang="ts">
import axios from 'axios'
import { ref, onMounted } from 'vue'
import { defineComponent, computed } from 'vue';
import { useStore } from 'vuex';

export default {
    data() {
        return {
            groups: [],
            selectedGroup: null,
            groupeData: [],
        };
    },
    methods: {
        logItem(item) {
            console.log("Item: ", item);
        },
    },
    async created() {
        const response = await axios.get('http://91.165.212.209:49152/groupes/getList');
        this.groups = response.data;
    },
    watch: {
        async selectedGroup(newVal) {
            if (newVal) {
                console.log("selectedGroup: ", newVal); // This will log the unwrapped object
                const response = await axios.get(`http://91.165.212.209:49152/groupes/getGroupePlusEleveById?idGroupe=${newVal}`);
                this.groupeData = response.data;
                console.log("groupeData: ", this.groupeData); // This will log the unwrapped object
            }
        },
    },
};
</script>

<template>
    <div>
        <div class="d-flex align-items-center">
            <h3 class="me-3">Nom : </h3>
            <select v-model="selectedGroup">
                <option
                    v-for="group in groups"
                    :key="group.Id"
                    :value="group.Id"
                >
                    {{ group.Nom }}
                </option>
            </select>
        </div>
        <div class="d-flex align-items-center">
            <h3 class="left-aligned-title">Année Scolaire :&nbsp;</h3>
            <h3 class="left-aligned-title"> TEST</h3>
        </div>
        <h3 class="left-aligned-title">Composition : </h3>
        <p></p>
            <table v-if="selectedGroup" class="table table-bordered table-striped table-hover table-primary">
          <thead>
            <tr>
                <th>Ref Abelium</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Cycle</th>
                <th>Instrument</th>
            </tr>
          </thead>
            <tr v-for="item in groupeData" :key="item.Id">
                <td>{{ item[0].Id}}</td>
                <td>{{ item[0].Nom}}</td>
                <td>{{ item[0].Prenom}}</td>
                <td>{{ item[0]["Nom Cycle"]}}</td>
                <td>{{ item[0].Instrument}}</td>
                <template v-if="logItem(item[0])"></template>
            </tr>
        </table>
    </div>

</template>


<style scoped>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }
    h3 {
        text-align: left;
    }
</style>
