<script lang="ts">
import axios from 'axios'
import { ref, onMounted } from 'vue'
import { defineComponent, computed } from 'vue';
import { useStore } from 'vuex';

export default {
  data() {
    return {
      nomProfesseur: '',
      anneeScol: '',
      debut: '',
      fin: '',
    };
  },
};
</script>

<template>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <p>Nom : </p>
            <p>Groupe : </p>
            <div class="form-group">
                <label for="nomProfesseur">Professeurs :</label>
                <input type="text" v-model="nomProfesseur" class="form-control" id="nomProfesseur"
                placeholder="Noms des professeurs">
                <p></p>
            </div>
            <div class="form-group">
                <label for="anneeScol">Année scolaire :</label>
                <input type="text" v-model="anneeScol" class="form-control" id="anneeScol"
                placeholder="Année scolaire">
                <p></p>
            </div>
            <div class="form-group">
                <label for="debut">Début :</label>
                <input type="text" v-model="debut" class="form-control" id="debut"
                placeholder="Date de début">
                <p></p>
            </div>
            <div class="form-group">
                <label for="fin">Fin :</label>
                <input type="text" v-model="fin" class="form-control" id="fin"
                placeholder="Date de fin">
                <p></p>
            </div>
        </div>
        <div class="col-sm">
            <p>Liste des compétences</p>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <p>Présentation, objectifs, compétences visées</p>
                <div class="container">
                    <textarea class="full-size-textarea" id="textbox_bilan_annuel" name="textbox_bilan_annuel" placeholder="Rentrez le bilan ici."></textarea> 
                </div>
                <p></p>
                <p>Bilan</p>
                <div class="container">
                    <textarea class="full-size-textarea" id="textbox_bilan_annuel" name="textbox_bilan_annuel" placeholder="Rentrez le bilan ici."></textarea> 
                </div>
            </div>
        </div>
    </div>
</div>

</template>


<style scoped>

.container {
  /* Set the container size as needed */
  width: 100%;
  height: 300px;
  position: relative; /* This is required for absolutely positioning the textarea */
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.full-size-textarea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
  resize: none; /* Disable resizing if needed */
}

</style>
