<script lang="ts">

export default {
    data() {
        return {
            count: 0,
        }
    }
}
</script>

<template>

  <div id="app">
        <button
        type="button"
        class="btn btn-primary"
        @click="count++"
        >
          Count is: {{ count }}
        </button>
  </div>

</template>

<style scoped>
</style>
