<script lang="ts">
import axios from 'axios'

export default {
    data() {
        return {
            info: [], 
       }
    },
    async created() {
        axios
            .get("http://91.165.212.209:8080/groupes/getList")
            .then(
                function( response:any ) {
                    this.info = response.data;
                }.bind(this));
    }
}

</script>

<template>
  <div id="app">
    <h3>Groupes</h3>
    <div>
      <ul class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">
        Index : Nom - Collectif ou Attelier : true/false - Est visible : true/false
      </a>
        <button type="button" class="list-group-item list-group-item-action" v-for="(item, index) in info">
          {{ item.Id }} : {{ item.Nom }} {{ item["Collectif ou Atelier"] }} - Est visible : {{ item["Est Visible"] }} 
        </button>
      </ul>

    </div>

  </div>

</template>

<style scoped>
</style>
