<script lang="ts">
import axios from 'axios'
import { ref, onMounted } from 'vue'
import { defineComponent, computed } from 'vue';
import { useStore } from 'vuex';

const count = ref(0)

interface Item {
  Id: number;
  Nom: string;
  Prenom: string;
  ["Est Visible"]: boolean;
}

const items: Item[] = []; // replace with your data fetching logic

export default defineComponent({
    name: 'DetailsPage',
    setup() {
        const store = useStore();
        const detailsData = computed(() => store.state.detailsData);
        const items: { Id: number, Nom: string, Prenom: string, [key: string]: any }[] = [];

        onMounted(async () => {
            const response = await axios.get("http://91.165.212.209:49152/professeurs/getList");
            store.commit('setDetailsData', response.data); // assuming you have a mutation named 'setDetailsData'
        });

        // Now you can access the properties like `detailsValue.Id`, `detailsValue.Nom`, etc.
        console.log("detailsData.Id : ", detailsData.value.Id); // This will log the unwrapped object

        return { detailsData };
    },
    data() {
        return {
            info: [], 
            items: items,
            count: 0,
        }
    },
    async created() {
        axios
            .get("http://91.165.212.209:49152/professeurs/getList")
            .then(
                function( response:any ) {
                    this.info = response.data;
                }.bind(this));
    }
});
</script>

<template>
  <div id="app">
    <h3>Professeurs</h3>
    <div>

      <ul class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">
        Index : Nom Prénom - Est visible : true/false
      </a>
        <button type="button" class="list-group-item list-group-item-action" v-for="item in items" :key="item.Id">
          {{ item.Id }} : {{ item.Nom }} {{ item.Prenom }} - Est visible : {{ item["Est Visible"] }} 
        </button>
      </ul>

    </div>
  </div>

    <div v-if="detailsData">
        <h1>Details</h1>
        <p>ID: {{ detailsData.Id }}</p>
        <p>Name: {{ detailsData.Nom }}</p>
        <p>First Name: {{ detailsData.Prenom }}</p>
        <p>Visible: {{ detailsData['Est Visible'] }}</p>
    </div>
    <div v-else>
        Loading...
    </div>

</template>

<style scoped>
</style>
