<script lang="ts">
import axios from 'axios'
import EleveList from './EleveList.vue'
import ProfList from './ProfList.vue'
import GroupeList from './GroupeList.vue'
import ProjetList from './ProjetList.vue'

export default {
    components: {
        EleveList,
        ProfList,
        GroupeList,
        ProjetList
    }
}
</script>

<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm">
                <EleveList/>
            </div>
            <div class="col-sm">
                <ProfList/>
            </div>
            <div class="col-sm">
                <GroupeList/>
            </div>
            <div class="col-sm">
                <ProjetList/>
            </div>
        </div>
    </div>
</template>

<style scoped>
</style>
