<template>
    <div>
      <h1>Second Page</h1>
      <p>This is the content of the second page.</p>
    </div>
</template>
  
<script>
export default {
name: 'SecondPage',
}
</script>

<style scoped>
/* Styles specific to the SecondPage component */
</style>
