<script>
import { defineComponent, ref, computed } from 'vue';

export default defineComponent({
  name: 'ThreeStageToggle',

  setup() {
    const toggleState = ref('Low'); // Initial state

    const toggleSwitch = () => {
      switch (toggleState.value) {
        case 'Low':
          toggleState.value = 'Medium';
          break;
        case 'Medium':
          toggleState.value = 'High';
          break;
        default:
          toggleState.value = 'Low';
      }
    };

    const toggleButtonClass = computed(() => {
      switch (toggleState.value) {
        case 'Low':
          return 'btn-danger';
        case 'Medium':
          return 'btn-warning';
        case 'High':
          return 'btn-success';
      }
    });

    return { toggleState, toggleSwitch, toggleButtonClass };
  }
});
</script>

<template>
  <div class="d-flex justify-content-center align-items-center">
    <button 
      :class="['btn', toggleButtonClass]" 
      @click="toggleSwitch">
      {{ toggleState }}
    </button>
  </div>
</template>

<style scoped>
button {
  transition: all 0.3s ease;
  /* Additional custom styles if needed */
}
</style>
