<script setup lang="ts">
import Recherche from './components/Recherche.vue'
import EleveList from './components/EleveList.vue'
import ProfList from './components/ProfList.vue'
import GroupeList from './components/GroupeList.vue'
import ProjetList from './components/ProjetList.vue'
import Count from './components/Count.vue'
import ThreeStageToggle from './components/ThreeStageToggle.vue';

</script>

<template>

    <!-- <router-view /> -->
    <h1>Projet Boa</h1>
    <h2>FrontEnd Nebulosa</h2>

    <nav>
        <router-link to="/recherche" v-slot="{ isActive }">
            <button :class="['btn', isActive ? 'btn-primary me-2' : 'btn-secondary me-2']">Recherche</button>
        </router-link>
        <router-link to="/bilaneleve" v-slot="{ isActive }">
            <button :class="['btn', isActive ? 'btn-primary me-2' : 'btn-secondary me-2']">Bilan Élève</button>
        </router-link>
        <router-link to="/proflist" v-slot="{ isActive }">
            <button :class="['btn', isActive ? 'btn-primary me-2' : 'btn-secondary me-2']">Professeurs</button>
        </router-link>
        <router-link to="/bilangroupe" v-slot="{ isActive }">
            <button :class="['btn', isActive ? 'btn-primary me-2' : 'btn-secondary me-2']">Bilan Groupe</button>
        </router-link>
        <router-link to="/bilanprojet" v-slot="{ isActive }">
            <button :class="['btn', isActive ? 'btn-primary' : 'btn-secondary']">Bilan Projet</button>
        </router-link>
    </nav>

    <router-view></router-view>

</template>

<style scoped>

.active-link {
  background-color: blue;
  color: white;
}

.inactive-link {
  background-color: gray;
  color: white;
}
</style>

